.overflow-y-scroll {
  overflow-y: scroll;
}

.hljs-ln td.hljs-ln-numbers {
  text-align: right;
  color: #ccc;
  padding-right: 1rem;
}

.smaller {
  font-size: 70%;
}

.text-faint {
  color: #aaa;
}
