<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css" integrity="sha256-3YM6A3pH4QFCl9WbSU8oXF5N6W/2ylvW0o2g+Z6TmLQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="app.css">
    <title>RGL Browser</title>
    <link rel="icon" href="data:,">
  </head>
  <body>
    <div id="app" style="height: 100vh; overflow-y: hidden;">

      <div class="position-absolute" style="top: calc(50vh - 2rem); left: calc(50vw - 2rem); z-index: 100; opacity: 0.7;" v-show="show.loading">
        <i class="fas fa-circle-notch fa-spin text-danger fa-4x"></i>
      </div>

      <!-- Top bar -->
      <div class="d-flex bg-light border-bottom p-3 align-items-center">

        <img src="http://www.grammaticalframework.org/doc/Logos/gf1.svg" class="mr-2" style="height:2.5rem;">
        <div class="navbar-brand">
          RGL Browser
          <span class="badge badge-pill badge-secondary">v3</span>
        </div>

        <div class="form-inline flex-grow-1 mr-2">
          <div class="input-group flex-grow-1 mr-2">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-search"></i>
              </span>
            </div>
            <input type="text" class="form-control" v-model="search_term" placeholder="Search for language, module or identifier" @focus="show.results = true">
          </div>
          <button type="button" class="btn btn-secondary" @click="search_term = null">Clear</button>
        </div>

        <button type="button" class="btn btn-link" @click="show.history = !show.history" :class="{ 'text-secondary' : !show.history }" title="Show/hide history">
          <i class="fas fa-history"></i>
        </button>
        <button type="button" class="btn btn-link" @click="show.scope = !show.scope" :class="{ 'text-secondary' : !show.scope }" title="Show/hide scope">
          <i class="fas fa-binoculars"></i>
        </button>
        <button type="button" class="btn btn-link" @click="show.code = !show.code" :class="{ 'text-secondary' : !show.code }" title="Show/hide code">
          <i class="fas fa-code"></i>
        </button>

        <a v-if="rgl_commit" class="nav-link text-muted"
          :href="'https://github.com/GrammaticalFramework/gf-rgl/tree/' + rgl_commit"
          :title="'RGL commit ' + rgl_commit">
          <i class="mx-1 fas fa-code-branch"></i>{{ rgl_commit }}
        </a>

        <a class="nav-link text-muted" href="https://github.com/GrammaticalFramework/rgl-source-browser" title="View on GitHub">
          <i class="fab fa-github"></i>
        </a>

      </div>

      <!-- Main pane -->
      <div class="h-100 p-3">

        <!-- Results -->
        <div class="row h-100" v-show="show.results && search_term">
          <!-- <div class="col-12">
            <h3 class="h4">Results</h3>
          </div> -->
          <div class="col-4 h-100 overflow-y-scroll">
            <h4 class="h5">Matching modules</h4>
            <a href="" v-for="(r,ix) in module_results" :key="ix" class="d-block" @click.prevent="selectModule(r.language, r.module)">
              {{ r.language }}/{{ r.module }}
            </a>
          </div>
          <div class="col-4 h-100 overflow-y-scroll" v-show="current.scope">
            <h4 class="h5">Matches in scope of <code>{{ current.module }}</code></h4>
            <table class="table table-sm">
              <!-- <thead>
                <tr>
                  <th scope="col">Identifier</th>
                  <th scope="col">Judgement Type</th>
                  <th scope="col">Module</th>
                  <th scope="col">Function Type</th>
                </tr>
              </thead> -->
              <tbody>
                <tr v-for="(item,ix) in scope_results" :key="ix">
                  <td><code class="text-nowrap">{{ item.ident }}</code></td>
                  <td>{{ item.jtype }}</td>
                  <td>
                    <a href="" @click.prevent="selectModule(item.language, item.module, item.lines)">
                      {{ item.module }}<span v-if="item.lines">:{{ item.lines }}</span>
                    </a>
                  </td>
                  <td><code>{{ item.ftype }}</code></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-4 h-100 overflow-y-scroll d-none">
            <h4 class="h5">Global search</h4>
            <button class="btn btn-secondary">Search all modules</button>
            <em>This will be slow</em>
          </div>
        </div>

        <!-- Scope & Code -->
        <div class="row h-100" v-show="!show.results">

          <!-- History -->
          <div :class="'col-'+cols_history" class="h-100 overflow-y-scroll" v-show="show.history">
            <h4 class="h5">History</h4>
            <em class="text-muted" v-show="!history.length">No recent modules</em>
            <a v-for="(item,ix) in history_reversed" :key="ix"
              href="" @click.prevent="selectModule(item.language, item.module)"
              class="d-block px-2 py-1 rounded"
              :class="{ 'bg-primary text-white' : ix === 0 }">
              {{ item.language }}/{{ item.module }}
              <span v-if="ix === 0" class="float-right">&rarr;</span>
            </a>
          </div>

          <!-- Scope -->
          <div :class="'col-'+cols_scope" class="h-100 overflow-y-scroll" v-show="show.scope">
            <h4 class="h5">Scope: <code>{{ current.module }}</code></h4>
            <em class="text-muted" v-show="!current.scope">No module scope loaded</em>
            <div class="table-responsive">
              <table class="table table-sm">
                <!-- <thead>
                  <tr>
                    <th scope="col">Identifier</th>
                    <th scope="col">Judgement Type</th>
                    <th scope="col">Module</th>
                    <th scope="col">Function Type</th>
                  </tr>
                </thead> -->
                <tbody>
                  <tr v-for="(item,ix) in current.scope" :key="ix">
                    <td><code class="text-nowrap">{{ item.ident }}</code></td>
                    <td>{{ item.jtype }}</td>
                    <td>
                      <a href="" @click.prevent="selectModule(item.language, item.module, item.lines)">
                        {{ item.module }}<span v-if="item.lines">:{{ item.lines }}</span>
                      </a>
                    </td>
                    <td><code>{{ item.ftype }}</code></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Code -->
          <div :class="'col-'+cols_code" class="h-100 overflow-y-scroll" v-show="show.code" id="code">
            <h4 class="h5">Code: <code>{{ current.module }}</code></h4>
            <pre class="bg-light p-2 mb-5"><em class="text-muted" v-show="!current.code">No module code loaded</em><code class="haskell" v-html="current.code"></code></pre>
          </div>
        </div>

      </div>
    </div><!-- app -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js" integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/haskell.min.js" integrity="sha256-WxYLWg8NFyyEq+Zs9pVsDQmlFpJt+733DecPx5+hrQw=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.5.0/highlightjs-line-numbers.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
